@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(241, 245, 241);
}

.bg-color{
  background-color: rgb(241, 245, 241);
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#48DD7F, #48DD7F)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.img{
    width: 100%;
    height: 500px;
    object-fit:contain;
    animation: move 3s infinite ease alternate;
   
   }
   @keyframes move{
       from{
           transform: translateY(-10px);
       }
       to{
           transform: translateY(10px); 
       }
   }
